//COLOR

$color-primary: #ba83c4;
$color-secondary: #fca3b5;
$color-tertiary: #b1d1ed;
$color-gray: #d39741;
$color-gray-light: #fcf3b5;
$color-white: #fff;
$color-black: #000;
$color-gray-dark: #777;
$color-gray-light-1: #edefec;
$color-gray-light-2: #b9a195;
//FONT

$default-font-size: 1.6rem;

$gutter-horizontal: 6rem;
$gutter-vertical: 3rem;
