.btn {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    box-shadow: 0rem 2rem 5rem rgba($color-black, 0.5);
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s;
    outline: none;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    z-index: -1;
    transition: all 0.5s;
    display: inline-block;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.5);
    &:after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0rem 1rem 2rem rgba($color: $color-black, $alpha: 0.5);
  }
  &--blue {
    background-color: $color-tertiary;
    color: $color-gray;
    &:after {
      background-color: $color-tertiary;
    }
  }
  &--animated {
    animation: moveInDown 1.5s ease-in;
  }
}
.btn-text {
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.2rem;
    margin-bottom: 1px solid $color-tertiary;
    transition: all 0.5s;
    color: $color-gray;
  }
  &:hover {
    transform: translateY(2px);
    background-color: $color-primary;
    color: $color-white;
  }
  &:activer {
    transform: translateY(-1px);
  }
}
