.skill-box {
  background-color: $color-white;
  padding: 2.5rem 2.2rem 5rem 2.2rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 2rem 3rem rgba($color-black, 0.8);
  transition: all 0.5s;
  &__icon {
    font-size: 6rem;
    margin-bottom: 1.2rem;
    background-image: linear-gradient(
      to left,
      rgba($color-primary, 0.5),
      rgba($color-tertiary, 0.5)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-2rem);
  }
}
